body {
  width: 100vw;
  height: 100vh;
  background: url("assets/insidecastle.jpg") no-repeat;
  overflow: hidden;
  background-size: 100%;
  background-position: center;
}

#computer-selection {
  height: 3.125em;
  width: 25em;
  background-color: rgba(47, 0, 255, 0.521);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.code-maker,
.code-breaker,
.guesses,
.colors {
  margin: auto;
  background-color: black;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}

#user-selection {
  height: 3.125em;
  width: 25em;
  background-color: rgba(4, 5, 2, 0.69);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.guess {
  margin: 10px 0;
  height: 2.8em;
  width: 25em;
  background-color: rgba(128, 128, 128, 0.199);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#allGuesses {
  margin: 15px auto;
}

#feedback1,
#feedback2,
#feedback3,
#feedback4,
#feedback5,
#feedback6,
#feedback7,
#feedback8,
#feedback9,
#feedback10,
#feedback11 {
  background-color: grey;
  width: 4.375em;
  height: 3.75em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fb1,
.fb2,
.fb3,
.fb4,
.fb5,
.fb6,
.fb7,
.fb8,
.fb9,
.fb10,
.fb11 {
  background-color: rgb(77, 79, 80);
  border-radius: 50%;
  height: 1.25em;
  width: 1.25em;
  margin: 5px;
}

.blackPeg {
  background: radial-gradient(circle at 14px 14px, rgb(66, 62, 62), #000);
}

.whitePeg {
  background: radial-gradient(circle at 14px 14px, rgb(255, 255, 255), #000);
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#board {
  margin-left: 38%;
  background-color: rgba(116, 67, 35, 0.745);
  width: 500px;
  margin-top: 50px;
}

.popup {
  width: 400px;
  height: 300px;
  background-color: rgba(250, 247, 247, 0.809);
  border-radius: 6px;
  position: absolute;
  top: 30%;
  left: 38%;
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  font-family: "Pirata One";
  font-size: 3em;
}

.popup h2 {
  font-size: 2em;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup input {
  width: 100%;
  margin-top: 15px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

img {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

#pop-message {
  margin: 0;
}

.colors-container {
  height: 2.8em;
  width: 25em;
  background-color: rgba(128, 128, 128, 0.199);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 50px;
}

.colors:nth-of-type(1) {
  /* background-color: rgb(255, 0, 0); */
  background: radial-gradient(circle at 14px 14px, rgb(255, 0, 0), #000);
}

.colors:nth-of-type(2) {
  background: radial-gradient(circle at 14px 14px, rgb(0, 0, 255), #000);
}

.colors:nth-of-type(3) {
  background: radial-gradient(circle at 14px 14px, rgb(255, 255, 0), #000);
}

.colors:nth-of-type(4) {
  background: radial-gradient(circle at 14px 14px, rgb(19, 190, 19), #000);
}

.colors:nth-of-type(5) {
  background: radial-gradient(circle at 14px 14px, rgb(255, 165, 0), #000);
}

.colors:nth-of-type(6) {
  background: radial-gradient(circle at 14px 14px, rgb(163, 10, 163), #000);
}

#guessBtn {
  border-radius: 12px;
  width: 100px;
  height: 50px;
  font-size: 1.6em;
  font-family: "Pirata One";
  cursor: pointer;
}
#guessBtn:hover {
  background-color: rgba(211, 28, 211, 0.541);
}
.code-breaker {
  cursor: pointer;
}

#colorChoice {
  width: 500px;
  position: fixed;
  margin-top: 20px;
  margin-left: 730px;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  font-size: 1.2em;
  background-color: #f4f9dd;
  margin: 15% auto; /*15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#instructions {
  position: fixed;
  top: 0px;
  left: 10px;
  width: 10%;
  margin-top: 15px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
