body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: url("assets/insidecastle.jpg") no-repeat center;
  background-size: cover;
  /* overflow: hidden; */
}

#board {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.774);
  width: 500px;
  border-radius: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#computer-selection,
#user-selection {
  height: 50px;
  width: 80%;
  background-color: rgba(82, 45, 243, 0.713);
  border-top-left-radius: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#user-selection {
  background-color: #000000a0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 32px;
}

.code-maker,
.code-breaker,
.guesses,
.colors {
  margin: auto;
  background-color: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

#allGuesses {
  margin: 15px auto;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.guess {
  margin: 10px 0;
  height: 44.8px;
  width: 400px;
  background-color: rgba(128, 128, 128, 0.199);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.feedback {
  background-color: grey;
  width: 70px;
  height: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fb1,
.fb2,
.fb3,
.fb4,
.fb5,
.fb6,
.fb7,
.fb8,
.fb9,
.fb10 {
  background-color: rgb(77, 79, 80);
  border-radius: 50%;
  height: 1.25em;
  width: 1.25em;
  margin: 5px;
}

.blackPeg {
  background: radial-gradient(circle at 14px 14px, rgb(66, 62, 62), #000);
}

.whitePeg {
  background: radial-gradient(circle at 14px 14px, rgb(255, 255, 255), #000);
}

#guessBtn {
  width: 20%;
  height: 50px;
  font-size: 1rem;
  border: 0;
  border-bottom-right-radius: 32px;
  color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  background: #a791e4;
}

#guessBtn:hover {
  background: #7a5ccc;
}

.code-breaker {
  cursor: pointer;
}

.colors-container {
  height: 2.8em;
  width: 25em;
  background-color: rgba(128, 128, 128, 0.199);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#colorChoice {
  width: 500px;
  position: fixed;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.colors:nth-of-type(1) {
  background: radial-gradient(circle at 14px 14px, rgb(255, 0, 0), #000);
}

.colors:nth-of-type(2) {
  background: radial-gradient(circle at 14px 14px, rgb(0, 0, 255), #000);
}

.colors:nth-of-type(3) {
  background: radial-gradient(circle at 14px 14px, rgb(255, 255, 0), #000);
}

.colors:nth-of-type(4) {
  background: radial-gradient(circle at 14px 14px, rgb(19, 190, 19), #000);
}

.colors:nth-of-type(5) {
  background: radial-gradient(circle at 14px 14px, rgb(255, 165, 0), #000);
}

.colors:nth-of-type(6) {
  background: radial-gradient(circle at 14px 14px, rgb(163, 10, 163), #000);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* left: 0;
  top: 0; */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity*/
}

/* Modal Content/Box */
.modal-content {
  font-size: 1.2em;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 32px;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#instructions,
#newGame,
#restartGame {
  right: 50%;
  font-family: "Inter", sans-serif;
  width: 30%;
  padding: 16px;
  background: #a791e4;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 0.875rem;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.allButtons {
  width: 30%;
  position: fixed;
  top: 20px;
  right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#instructions:hover,
#restartGame:hover,
#newGame:hover {
  background: #7a5ccc;
}

.popup {
  text-align: center;
  width: 20%;
  height: 20%;
  background-color: rgb(250, 247, 247);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
}

.popup h2 {
  font-size: 1.8em;
  margin: 20px 0 10px;
}

.popup button {
  font-family: "Inter", sans-serif;
  width: 80%;
  margin-top: 10px;
  padding: 10px 0;
  background: #a791e4;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup button:hover {
  background: #7a5ccc;
}

#videoContainer {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

#winScreen {
  position: absolute;
  top: 10%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  width: 45%;
  height: 12%;
  text-align: center;
  font-family: "Inter", sans-serif;
}

#newGame2,
#restartGame2 {
  font-family: "Inter", sans-serif;
  margin: 5px 15px;
  width: 30%;
  padding: 10px 0;
  background: #a791e4;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 0.875em;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#restartGame2:hover,
#newGame2:hover {
  background: #7a5ccc;
}
